<body>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-card class="homeS mat-elevation-z3" style="background: #f7f6f6; color:black !important;">
            <div fxLayout="col" fxFlex >
                <mat-card-content>
                    <mat-card-title class="tituloS" style="color:black !important;"> Sobre a plataforma</mat-card-title>
                    <mat-card-title class="textoTituloS" style="color: black;">Lorem ipsum dolor sit amet,
                        consectetur</mat-card-title>
                    <mat-card-subtitle><p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Hac habitasse platea dictumst vestibulum rhoncus.
                        Phasellus vestibulum lorem sed risus ultricies tristique. Interdum consectetur libero id
                        faucibus nisl tincidunt eget nullam non. Faucibus pulvinar elementum integer enim neque. Et
                        egestas quis ipsum suspendisse ultrices gravida dictum fusce. Magnis dis parturient montes
                        nascetur ridiculus mus mauris. Non tellus orci ac auctor augue mauris augue. Id aliquet lectus
                        proin nibh nisl. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Varius duis
                        at consectetur lorem. Hendrerit dolor magna eget est lorem ipsum. Integer quis auctor elit sed
                        vulputate mi. Aenean euismod elementum nisi quis eleifend quam adipiscing.
                    </p>
                    <p>                        
                        Blandit cursus risus at ultrices mi tempus imperdiet nulla. Ut placerat orci nulla pellentesque
                        dignissim enim sit. Bibendum enim facilisis gravida neque. Nunc pulvinar sapien et ligula
                        ullamcorper. Ornare aenean euismod elementum nisi quis eleifend quam. Fermentum posuere urna nec
                        tincidunt praesent semper feugiat. Enim facilisis gravida neque convallis a cras semper auctor
                        neque. Adipiscing bibendum est ultricies integer quis. Eget nunc scelerisque viverra mauris in
                        aliquam sem fringilla ut. Donec massa sapien faucibus et molestie ac feugiat. Dignissim cras
                        tincidunt lobortis feugiat vivamus at augue eget.
                    </p>
                    <p> 
                        Vulputate enim nulla aliquet porttitor. Vel quam elementum pulvinar etiam non quam lacus. Eget
                        felis eget nunc lobortis mattis aliquam faucibus purus in. Ut placerat orci nulla pellentesque
                        dignissim enim sit amet. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar
                        sapien. Adipiscing at in tellus integer. Facilisis sed odio morbi quis commodo odio aenean sed
                        adipiscing. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Risus
                        commodo viverra maecenas accumsan. Varius vel pharetra vel turpis nunc eget lorem dolor.
                    </p>
                    </mat-card-subtitle>
                </mat-card-content>
            </div>
            <div class="col initialS" flFlex>
                <span>
                    <a>
                        <img class="logoS" src="assets/img/ReanorSobre.jpeg" alt="FichaRPG">
                    </a>
                </span>
            </div>
        </mat-card>
    </div>

    <mat-card-content></mat-card-content>
</body>