<app-preloader>
  
<footer class="backgroundF">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <a>
        <img class="logF" src="assets/img/FichaRPG.png" alt="FichaRPG">
      </a>
      <div style="padding-left: 7em; color: #fff !important;">
        <a>
          Desenvolvido com
          <i class="material-icons red v-middle">
            favorite
          </i> por <strong>Curitiba Software.</strong>
        </a>
      </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 styleFont">
      <div class="col">
        <div>
          <a>
            Home
          </a>
        </div>
        <div>
          <a>
            About
          </a>
        </div>
        <div>
          <a>
            Feactures
          </a>
        </div>
        <div>
          <a>
            Pricing
          </a>
        </div>
        <div>
          <a>
            Contacts us
          </a>
        </div>
      </div>

      <div class="col">
        <div>
          <a>
            Blog
          </a>
        </div>
        <div>
          <a>
            Search
          </a>
        </div>
        <div>
          <a>
            T & Cs
          </a>
        </div>
        <div>
          <a>
            Privacy
          </a>
        </div>
        <div>
          <a>
            Community
          </a>
        </div>

      </div>

    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 styleFont" style="padding-top: 10px;">

      <div class="col">
        <div>
          <a style="padding-left: 10px;">
            Get our newsletter
          </a>
        </div>
        <div>
          <div>
            
            <input type="email" class="form-control box3" placeholder="Enter your email">
          </div>
        </div>

      </div>

      <div class="col" style="padding-top: 35px; padding-left: 30px;">
        <button mat-raised-button color="primary">Subscribe</button>
      </div>

    </div>

  </div>
</footer>